//-	----------- CONFIG VARIABLES ----------- 
//-	| FUNCTION: 
//-	|	Sets the current site and includes all settings for site
//-	| DEPENDENCIES: 
//-	|	Javascript config (layout.jade) dymanically generated from variables.
//- | USE: 
//-	|	config.[setting]
//-	|	account.[setting]
//-	----------------------------------------


- var config = {site_url: 'http://localhost', image_url: 'http://localhost/images/', logo_url: 'http://localhost/images/logo.png', site_title: 'Objectway', site_desc: 'Description'}