//- Fixed Nav Menu
nav#nav
	div
		ul#navlist.nav
			li#nav-logo
				img(src="./images/OW-Logo.svg" alt="#{config.site_title}" border="0")
			li
			li
				a(href="#home" data-id="home" class="home") HOME
			li
				a(href="#about" data-id="about" class="about") THE GROUP
			li
				a(href="#business" data-id="business" class="business") BUSINESS
			li
				a(href="#partners" data-id="partners" class="partners") PARTNERS
			li
				a(href="#contacts" data-id="contacts" class="contacts") CONTACTS
