div.tab-box
	section#section1
		a(href="#" class="get-data").tab-group
			input#option1(type='radio', name='sections', checked='')
			label(for='option1') 
				span Milan Headquarters
				span.arrow-right
			article.addresses-tab-box
				div.show-data
				div.show-img

div.tab-box
	section#section2
		a(href="#" class="get-data").tab-group.no-border
			input#option2(type='radio', name='sections', checked='')
			label(for='option2')
				span London Headquarters
				span.arrow-right
			article.addresses-tab-box
				div.show-data
				div.show-img

div.tab-box
	section#section3
		a(href="#" class="get-data").tab-group
			input#option3(type='radio', name='sections', checked='')
			label(for='option3')
				span Brussels Headquarters
				span.arrow-right
			article.addresses-tab-box
				div.show-data
				div.show-img