div.partners-box
	div.partner-logo
		div.partner-logo-microsoft
	h2.partner-name Microsoft
	p.partner-abstract Development of IT solutions and technologies to optimize performance.

div.partners-box
	div.partner-logo
		div.partner-logo-oracle
	h2.partner-name Oracle
	p.partner-abstract Project implementation and specialist consultancy services for medium-sized and large Italian and multinational corporations.

div.partners-box
	div.partner-logo
		div.partner-logo-ibm
	h2.partner-name IBM
	p.partner-abstract ObjectWay is a member of the "PartnerWorld for Software" program and among the top 10% of IBM partners worldwide. The company is also an IBM Professional Service Partner for consulting services.

div.partners-box
	div.partner-logo
		div.partner-logo-computer-as
	h2.partner-name Computer Associates
	p.partner-abstract ObjectWay provides consultancy and other services relating to Application Performance Management (Wily) and Project Portfolio Management (Clarity).

div.partners-box
	div.partner-logo
		div.partner-logo-tibco
	h2.partner-name Tibco
	p.partner-abstract ObjectWay is Consulting Partner for Team TIBCO, which only includes partners with proven successful project implementation expertise that train and certify their own consultants.