div.section-container.about
	h1.section-name ABOUT
	div.section-group
		h2.section-title THE GROUP
		p.section-description ObjectWay Group was founded in 1990 and has grown to be a leader in software applications and technology services for financial markets and other corporates in Italy and Europe. The group consists of two companies: ObjectWay Financial Software SpA - the parent company - and ObjectWay iTec SpA. Its teams include more than 500 software and financial business experts serving local and international customers.
	
		h2.section-title MISSION
		p.section-description Our mission is to support the competitiveness of the financial industry and business and to help them to gain market share through the provision of software solutions and outstanding, innovative services: "Winning Software Solutions".</br> ObjectWay has grown to € 50 million in revenue with EBITDA to sales of over 20%.


	