div.section-container.business
	h1.section-name BUSINESS
	div.section-group
		h2.section-title Financial Software
		p.section-description The Financial Software division develops software platforms based on a shared, open application architecture and database. The software answers to the needs of the financial services industry: banks, asset management companies, brokerage houses, insurance companies and consumer credit. We cover the following areas:</br>•&nbsp;&nbsp;&nbsp;&nbsp;financial and insurance product sales, advisory services, fee and revenue management, sales network management;</br>•&nbsp;&nbsp;&nbsp;&nbsp;securities processing and asset management.
	
		h2.section-title Technology Solutions
		p.section-description The Technology Solutions division develops tailor-made software for core-banking processes and Enterprise Portal, Business Process Management (BPM) and Business Intelligence (BI), Collaborative Content Management and Web 2.0 cross-industry solutions.</br>The division provides project staffing services and technology platform and process consultancy for the most common architectures and technology platforms across a broad range of technologies, applications and processes.



