header#header
	div.section-container.home
		div.logo
			img(src="./images/OW-Logo.svg" alt="#{config.site_title}" border="0")
	#carousel
		#slides
			#buttons
				a#prev(href='#') prev
				a#next(href='#') next
			ul
				li
					img(src='images/metropolis.jpg', alt='Slide 1')
				li
					img(src='images/generic.jpg', alt='Slide 2')
				li
					img(src='images/featured-product.jpg', alt='Slide 3')
			.clear
	div.section-container
		div.header-text
			h1.left.main-title Financial Software as its best.
			h2.left.abstract Discover our complete digital solution for Wealth and Investment Manager.
			a.button-green(href="#business") Learn more
