div.section-container.partners
	h1.section-name PARTNERS
	div.section-group
		p.section-description ObjectWay has, over the years, forged important partnerships with leading international vendors of technologies and platforms.</br>The distinctive feature of ObjectWay’s approach to its partnerships is its deep product knowledge and its close working relationship with vendors which is a legacy of ObjectWay’s past as a software distributor.</br>The fact that these vendors use ObjectWay consultants and services for their own projects demonstrates the trust they have in our company.</br>Many of the consultants employed in our technology divisions have obtained vendor certification.
div.section-partners-card
	include  ./../components/partnersBoxs

div.hide-partners-container
	a(href="#partners")#toggle-partners.hide-partners.button-azure HIDE PARTNERS