extends includes/layout

block content

	section#home
		include ./pages/home

	section#about
		include ./pages/about

	section#business
		include ./pages/business

	section#partners
		include ./pages/partners

	section#contacts
		include ./pages/contacts
		